
#registrototal{
    text-align: center;
    color: #cccccc;
    width:50%;
    border-color: #6699ff;
    border-style: solid;
    border-width: 3px;
    position:relative;
    left: 25%;
    background-color: #006699;
}